<div class="mid-page span9">
  <div class="mid-page-top span1">
    <p style="color: #004a74; font-size: 17px; white-space: nowrap;">User Management</p>
  </div>
  <div class="user span10">
    <div class="user-add teeth-white span2" data-toggle="modal" data-target="#exampleModal">
      <span><i class="fa fa-plus" style="font-size: 22px;"></i>&nbsp;&nbsp;Add User</span>

    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">Add User</h4>
          </div>
          <div class="modal-body">
            <form>
              <!--<div class="form-group">-->
              <!---->
              <!---->
              <!--</div>-->
              <table class="span6">
                <tr>
                  <td style="text-align: right"><label for="recipient-name" class="control-label">User Name:</label>
                  </td>
                  <td><input type="text" class="form-control" id="recipient-name"></td>
                </tr>
              </table>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Send message</button>
          </div>
        </div>
      </div>
    </div>

    <div class="user-details teeth-white span9">
      <div class="user-detail teeth-white">
        <span>User Details</span>
      </div>
      <div id="user-table" class="user-table span12">
        <table>
          <thead>
          <tr>
            <td>Action</td>
            <td>User Name</td>
            <td>Created By</td>
            <td>Created Date</td>
            <td>Last Updated Date</td>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="user in users" >
            <td>

              <span ng-click="edit(user)" class="span-blue">Edit</span>

              <div style="margin-left: 25px;">
                <span ng-click="edit(user)" class="span-blue">Delete</span>
              </div>
            </td>
            <td><span>{{user.name}}</span><input type="text" placeholder="{{user.name}}"></td>
            <td><span>{{user.admin}}</span><input type="text" placeholder="{{user.admin}}"></td>
            <td><span>{{user.date}}</span><input type="text" placeholder="{{user.date}}"></td>
            <td class="canshow"><span>{{user.lastDate}}</span><input type="text" placeholder="{{user.lastDate}}"/></td>


          </tr>
          <tr id="tr-rep">
            <td class="canhide"><div><span ng-click="svae()" class="span-blue">Save</span></div><div style="margin-left: 25px;"><span class="span-blue">Cancel</span></div></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script>
      $(function () {
        $("#user-table").find("input").hide();
      })
    </script>
  </div>
</div>