<!-- middle pages | start -->
<div>
  <!-- left navigation | start -->
  <div class="right-nav">
    <div class="rig-pad" ui-sref="page1" ng-click="switch(1)">
      <p ><i class="fa fa-home"></i>&nbsp; Dashboard</p>
    </div>
    <div class="rig-pad" ui-sref="page2"  ng-click="switch(2)">
      <p><i class="fa fa-users"></i>&nbsp; User Management</p>
    </div>
  </div>
  <!-- left navigation | end -->
  <!-- Navigation corresponding interface | start -->

  <!-- Navigation corresponding interface | end -->
</div>
<!-- middle pages | end -->