html, body {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #d9edf7;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    padding: 0;
    margin: 0;
}

.row {
    padding: 0;
    margin: 0;
}

.col-md-12 {
    padding: 0;
    margin: 0;
}

.col-md-6 {
    padding: 0;
    margin: 0;
}

/**
Top
 */
.top {
    width: 100%;
    height: 75px;
    left: 0px;
    top: 0px;
    background-color: #005e89;;
    margin: 0 auto;
}

.top_login {
    width: 100%;
    height: 75px;
    left: 0px;
    top: 0px;
    background-color: #005e89;
    border-color: #005e89;
    border-style: solid;
    text-align: center;
}

.l_logo {
    left: 0px;
    top: 0px;
    width: 45px;
    height: 45px;
    margin-left: 10px;
    margin-top: 22px;
    float: left;
}

.r_logo {
    left: 0px;
    top: 0px;
    width: 200px;
    height: 45px;
    color: #fffff9;
    margin-top: 22px;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    line-height: 28px;
    float: left;
}

/**********************/
.title {
    width: 200px;
    height: 150px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    line-height: 50px;
    text-align: center;
}

.tagging {
    height: 30px;
    color: #a39d9c;
    font-size: 16px;
    line-height: 30px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
}

.text_input {
    width: 240px;
    height: 40px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

input {
    width: 100%;
    height: 100%;
    outline: none;
    padding-left: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

/**
Login
 */
.login {
    left: 0px;
    top: 0px;
    width: 280px;
    height: 340px;
    border-color: #005e89;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    float: right;
}

/**
Register
 */
.register {
    left: 0px;
    top: 0px;
    width: 280px;
    height: 340px;
    background-color: white;
    border-color: #005e89;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    float: left;
}