<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dashboard</title>
</head>
<body>
<!--Right column-->
<div class="right_column">
    <div class="r_title">
        <div>
            <p style="white-space: nowrap">Dashboard</p>
        </div>
    </div>

    <div class="r_list">
        <div class="r_lists" style="background-color: #00c0ef">
            <div class="r_lists_num">
                <p style="white-space: nowrap">156</p>
            </div>
            <div class="r_lists_title">
                <p style="white-space: nowrap">Total users</p>
            </div>
            <div class="r_lists_bottom"></div>
        </div>
        <div class="r_lists" style="background-color: #00a65a">
            <div class="r_lists_num">
                <p style="white-space: nowrap">56</p>
            </div>
            <div class="r_lists_title">
                <p style="white-space: nowrap">New users</p>
            </div>
            <div class="r_lists_bottom"></div>
        </div>
        <div class="r_lists" style="background-color: #dd4b39">
            <div class="r_lists_num">
                <p style="white-space: nowrap">100</p>
            </div>
            <div class="r_lists_title">
                <p style="white-space: nowrap">Users pending</p>
            </div>
            <div class="r_lists_bottom"></div>
        </div>
    </div>

    <div class="chart_top"></div>
    <div class="chart_title">
        <p style="margin-left: 20px">用户增长季度报告</p>
    </div>
    <div class="chart_img">
        <img src="./images/report_picture.png">
    </div>
</div>
</body>
</html>