<!-- middle pages | start -->
<div>
  <!-- left navigation | start -->
  <div class="right-nav span3">
    <div class="rig-pad span3" ui-sref="page1" ng-click="showDashboard()">
      <p ><i class="fa fa-home"></i>&nbsp; Dashboard</p>
    </div>
    <div class="rig-pad span3" ui-sref="page2"  ng-click="">
      <p><i class="fa fa-users"></i>&nbsp; User Management</p>
    </div>
  </div>
  <!-- left navigation | end -->
  <!-- Navigation corresponding interface | start -->

  <!-- Navigation corresponding interface | end -->
</div>
<!-- middle pages | end -->