<div class="mid-page span10">
  <div class="mid-page-top">
    <p style="color: #004a74; font-size: 17px; white-space: nowrap;">Dashboard</p>
  </div>
  <div class="mid-page-status">
    <div class="status-dif span3">
      <div class="status-sss light-blue">
        <p style="font-size: 35px; ">156</p>
        <p>Total users</p>
        <div style="height: 30px; opacity: 0.2; border: 1px solid #dddddd; background-color: white; "></div>
      </div>
    </div>
    <div class="status-dif span3">
      <div class="status-sss dark-green">
        <p style="font-size: 35px; ">56</p>
        <p>New users</p>
        <div style="height: 30px; opacity: 0.2; border: 1px solid #dddddd; background-color: white; "></div>
      </div>
    </div>
    <div class="status-dif span3">
      <div class="status-sss deep-red">
        <p style="font-size: 35px; ">100</p>
        <p>Users penging</p>
        <div style="height: 30px; opacity: 0.2; border: 1px solid #dddddd; background-color: white; "></div>
      </div>
    </div>
  </div>
  <div class="mid-page-tableinfo span9">
    <div style="height: 10px; background-color: #d4d4d4"></div>
    <div class="info-in"><p style="">用户增长季度报告</p></div>
    <div class="img-table span9"><img style=" height: 321px;" src="../imgs/raw_1481601315.png" alt="">
    </div>
  </div>
</div>