<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link rel="stylesheet" href="../css/view/main.css">
    <script src="../js/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="../js/angular.min.js"></script>
    <script src="../js/angular-route.min.js"></script>
    <script src="../js/angular-ui-router.js"></script>
</head>
<body>
<div class="container" ng-app="mainApp">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <!--top-->
            <div class="top">
                <div class="top_login">
                    <div class="l_logo">
                        <i class="fa fa-th-large" style="font-size:28px;color: white"></i>
                    </div>
                    <div class="r_logo">
                        <p style="white-space: nowrap">Configuration Manager</p>
                    </div>

                    <!--Dropdown-->
                    <div class="dropdown">
                        <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            <div class="user_down_i">
                                <i class="fa fa-caret-down" style="font-size:20px;color: white">
                                </i>
                            </div>
                            <div class="user_down">
                                <p style="white-space: nowrap">UserA</p>
                            </div>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dLabel" style="margin-left: 60px">
                            <a href="">
                                <button>Sign out</button>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-2">
                    <!--Left column-->
                    <div class="left_column">
                        <div class="parent_menu">
                            <div class="sub_menu">
                                <div class="sub_menu_i">
                                    <i class="fa fa-home" style="font-size:20px;color: white;"></i>
                                </div>
                                <a href="#/dashboard">
                                    <div class="sub_menu_text">
                                        <p style="white-space: nowrap">
                                            Dashboard
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="parent_menu">
                            <div class="sub_menu">
                                <div class="sub_menu_i">
                                    <i class="fa fa-users" style="font-size:20px;color: white"></i>
                                </div>
                                <a href="#/user">
                                    <div id="user" class="sub_menu_text">
                                        <p style="white-space: nowrap">
                                            User Management
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 column">
                    <div ng-view></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<script src="../route/todo.js"></script>-->
<script>
    var app2 = angular.module('mainApp', ['ngRoute']);
    app2.config(function ($routeProvider) {
        $routeProvider.when('/', {
            templateUrl: 'dashboard.html',
        }).when('/dashboard', {
            templateUrl: 'dashboard.html',
        }).when('/user', {
            templateUrl: 'user_management.html',
        }).when('/login', {
            templateUrl: 'login_register.html',
        });
    });

    app2.controller('userTable', function ($scope) {
        $scope.users = [
            {id: 1, name: 'Henry Fan', data: '2016-12-20'},
            {id: 2, name: 'Beck Zhang', data: '2016-12-14'},
            {id: 3, name: 'Banana Cao', data: '2016-12-24'},
        ];
        /*Edit*/
        $scope.myVar = true;
        $scope.edit = function () {
            /* var index = $scope.users.indexOf(x);
             var q = $('table').find('tr').eq(index + 1);
             $('q').find('p').hide();
             $('q').find('input').show();*/
            $scope.myVar = !$scope.myVar;
        };
        /*Delete*/
        $scope.delete = function (x) {

        };

    });
</script>
</body>
</html>